body {
  background-color: ##FAFAD2;
}

h1 {
  font-family: "Courier New"
}

body {
background-image:url(pexels-photo-106399.jpeg);
background-attachment:fixed;
background-position:right top;
background-repeat:no-repeat;
  position: -webkit-sticky;
  position: sticky;
}

div1 {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    font-family: "Courier New"

}

div2 {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    font-family: "Courier New"

}

input[type=submit] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    font-family: "Courier New"

}


p1 {
	  font-size: 0.8em; /* 14px/16=0.875em */
	  color:blue;
	    font-family: "Courier New"

}

p {
	  font-size: 0.8em; /* 14px/16=0.875em */
	    font-family: "Courier New"

}

p4 {
	  font-size: 0.8em; /* 14px/16=0.875em */
	  color:blue;
	    font-family: "Courier New"

}