nav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 80px;
}

.hero {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/homepage-hero.jpg");
  overflow: hidden;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 72px;
}
.hero-text p {
  font-size: 16px;
}

img.rounded {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.presentation h2 {
  margin: 20px 0 10px 15px;
  font-size: 24px;
}

.presentation p {
  margin: 0 0 20px 0;
  padding: 0px 20px;
}

.full-vh {
  height: 100vh;
  width: 100%;
}
/* FORM STYLES */
.mt-1 {
  margin-top: -50px;
}
.mb-is-1 {
  margin-bottom: 50px;
}

.mb-is-0_5 {
  margin-bottom: 25px;
}
.customInput {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  background-color: #ffffff;
}

.centerall {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.primary-bg {
  background-color: #f5f6f7;
}
/*
.input {
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 24px;
  width: 260px;
  color: #838eab;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

label {
  color: #262626;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}*/

.dashboard-main {
  background-color: #f5f6f7;
  margin: 2% 4%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.dashboard-main-header {
  height: 10vh;
  background-color: #ffffff;
}

.dashboard-main-body {
  background-color: #f5f6f7;
}

.bottom-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.bottom-left {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.form-full-height {
  height: 100%;
  position: relative;
}

.c-btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: 6px;

  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  /* Text style for "Log Out" */
  font-family: "Segoe UI";
  font-weight: 600;
  padding: 13px 28px;
  border: none;
}

.c-primary {
  background-color: #786aff;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth {
  padding: 20px 150px;
}

.property_type_select {
  padding: 50px;
  border: #786aff 1px;
  border-radius: 6px;
  display: block;
}
.contenu {
  margin-top: 80px;
}

div.DraftEditor-root {
  background-color: #fff;
  border: #ececec solid 1px;
}
